<!doctype html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Listagem de Livros</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div class="container mt-4">
    <h1>Livros</h1>
    <a class="btn btn-primary mb-3" th:href="@{/livros/novo}"
    >Novo Livro</a
    >

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Ano de Publicação</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="livro : ${livros}">
            <td th:text="${livro.titulo}"></td>
            <td th:text="${livro.autor}"></td>
            <td th:text="${livro.editora}"></td>
            <td th:text="${livro.anoPublicacao}"></td>
            <td th:text="${#numbers.formatCurrency(livro.preco)}"></td>
            <td>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/livros/editar/{id}(id=${livro.id})}">Editar</a>
                <a class="btn btn-sm btn-danger"
                   th:href="@{/livros/deletar/{id}(id=${livro.id})}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>